<!DOCTYPE html>
<html lang="en">

<head>
  <title>Short URL</title>
</head>

<body>
  <% include partials/_header %>
  <div>
    <div>
      <h5>TinyURL for: <%= longURL %></h5>
      <% if (uniqueVisitorsCounter) { %>
      <h6>Unique Visitors: <%= uniqueVisitorsCounter %> </h6>
      <% } %>
      <% if (visitors) { %>
      <h6>Total Visitors: <%= visitors %> </h6>
      <% } %>
      <p>Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
      <div>
        <form action="/urls/<%= shortURL %>/edit?_method=PUT" method="POST">
          <div>
            <input type="text" name="longURL" value=<%= longURL %>/>
            <button type="submit">Edit</button>
          </div>
        </form>
      </div>
      <% if (uniqueVisitorsObj) { %>
      <% for (key in uniqueVisitorsObj) { %>
      <p>Visitor: <%= key %> Time Stamp: <%= uniqueVisitorsObj[key] %></p>
      <% } %>
      <% } %>
    </div>
  </div>
</body>

</html>